<div class="add-media-container">
  <input class="add-media-input" [(ngModel)]="media.name">
  <select class="add-media-select" [(ngModel)]="media.medium">
    <option class="add-media-select-option" value="other">Other</option>
    <option class="add-media-select-option" value="film">Film</option>
    <option class="add-media-select-option" value="audio">Audio</option>
    <option class="add-media-select-option" value="literature">Literature</option>
  </select>
  <button class="add-media-button" (click)="add();">Add</button>
</div>
