<form (ngSubmit)="add()" class="add-media-form" #addMediaForm="ngForm"> 
  <input type="text" class="add-media__input" [(ngModel)]="media.name" maxlength="80" required name="name">

  <select class="add-media__select" [(ngModel)]="media.medium" name="medium">
    <option class="add-media__select-option" value="other">Other</option>
    <option class="add-media__select-option" value="film">Film</option>
    <option class="add-media__select-option" value="audio">Audio</option>
    <option class="add-media__select-option" value="literature">Literature</option>
  </select>

  <button class="add-media__button" type="submit" mat-icon-button>
    <mat-icon svgIcon="add" class="add-media__button-icon"></mat-icon>
  </button>
</form>

<mat-divider></mat-divider>
