$primary-color: #3671AB;
$primary-color-light: #558CC0;
$secondary-color: #FFB242;
$secondary-color-light: #FFC774;
$dark-gray: #364048;
$light-gray: #F7F9FB;
$white: #FFFFFF;

$font-stack: Arial, Helvetica, sans-serif;
