@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./variables";
@import "./mixins";

h1 {
  color: $dark-gray;
  font-family: $font-stack;
  font-size: 250%
}

h2, h3 {
  color: $dark-gray;
  font-family: $font-stack;
  font-weight: lighter;
}

body {
  margin: 2em;
}

body {
  color: $dark-gray;

  font-family: $font-stack;
  background-color: $light-gray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

textarea, input[type=text], input[type=password] {
  border: 1px solid $dark-gray;
  background-color: $white;

  font-size: 18px;

  input[type=text], input[type=password] {
    min-height: 25px;
  }
}

select {
  border: 1px solid $dark-gray;
  background-color: $white;

  font-size: 18px;

  min-height: 25px;
}

option {
  background-color: $white;

  font-size: 18px;

  min-height: 20px;
}

button {
  font-size: 18px;
  color: $light-gray;

  border: 1px solid $primary-color;
  border-radius: 0%;
  background-color: $primary-color;

  cursor: pointer;

  min-height: 30px;
}
