<div class="edit-media-dialog-container">
  <h2 class="dialog__title">{{ data.name }}</h2>

  <mat-divider></mat-divider>

  <div class="dialog__form-group">
    <label class="dialog__label">Name</label>

    <input type="text" class="dialog__property" [(ngModel)]="data.name"/>
  </div>

  <div class="dialog__form-group">
    <label class="dialog__label">Medium</label>

    <select class="dialog__property" [(ngModel)]="data.medium">
      <option class="dialog__select-option" value="other">Other</option>
      <option class="dialog__select-option" value="film">Film</option>
      <option class="dialog__select-option" value="audio">Audio</option>
      <option class="dialog__select-option" value="literature">Literature</option>
    </select>
  </div>

  <div class="dialog__form-group">
    <label class="dialog__label">Consumed State</label>

    <select class="dialog__property" [(ngModel)]="data.consumed_state">
      <option class="dialog__select-option" value="not started">Not Started</option>
      <option class="dialog__select-option" value="started">Started</option>
      <option class="dialog__select-option" value="finished">Finished</option>
    </select>
  </div>

  <div class="dialog__form-group--textarea">
    <div class="dialog__description-label-edit-toggle">
      <label class="dialog__label--description">Description</label>

      <label class="dialog__toggle-button"
        [class.selected]="editDescription"
      >
        <input type="radio" (click)="editDescription = !editDescription" />
        <mat-icon *ngIf="editDescription" svgIcon="preview" class="dialog__icon"></mat-icon>
        <mat-icon *ngIf="!editDescription" svgIcon="edit" class="dialog__icon"></mat-icon>
      </label>
    </div>

    <div *ngIf="!editDescription" class="dialog__property--markdown">
      <markdown [data]="data.description"></markdown>
    </div>

    <textarea 
      *ngIf="editDescription"
      class="dialog__property--textarea"
      [(ngModel)]="data.description"
      maxlength=500
    >
    </textarea>
  </div>

  <mat-divider></mat-divider>

  <div mat-dialog-actions>
    <div class="dialog__actions-container">
      <button mat-dialog-close class="dialog__action-button">Cancel</button>
      <button [mat-dialog-close]="data" class="dialog__action-button">Save</button>
    </div>
  </div>
</div>
