@import "../../../sass/variables";

.edit-media-dialog-container {
  display: flex;
  flex-direction: column;
}

.dialog__form-group, .dialog__form-group--textarea {
  display: flex;
}

.dialog__form-group {
  flex-direction: row;
  justify-content: space-between;
}

.dialog__form-group--textarea {
  flex-direction: column;
}

.dialog__property, .dialog__property--textarea {
  margin-bottom: 10px;
}

.dialog__property {
}

.dialog__property--textarea {
  height: 100px;
}

.dialog__select-option {
}

.dialog__actions-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
}

.dialog__action-button {
  margin-left: 10px;
}
