@import "../../../sass/variables";

.edit-media-dialog-container {
  display: flex;
  flex-direction: column;
}

.dialog__title {
  padding: 0px;
  margin-bottom: 5px;
}

.dialog__form-group, .dialog__form-group--description {
  display: flex;
}

.dialog__form-group {
  flex-direction: row;
  justify-content: flex-start;

  margin-top: 5px;
}

.dialog__form-group--description {
  flex-direction: column;

  max-height: 250px;
}

.dialog__label {
  width: 200px;
}

.dialog__label--description {
}

.dialog__property, .dialog__property--textarea, .dialog__property--markdown {
  margin-bottom: 10px;
}

.dialog__property {
}

.dialog__property--textarea {
  height: 250px;
}

.dialog__property--markdown {
  overflow-y: scroll;
  padding: 3px;
}

.dialog__select-option {
}

.dialog__description-label-edit-toggle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.dialog__toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  width: 30px;
  height: 30px;
}

input[type="radio"] {
  display: none;

  height: 20px;
  width: 20px;
}

.dialog__icon {
  height: 20px;
  width: 30px;

  fill: $primary-color;
  stroke: $primary-color;
}

.dialog__actions-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
}

.dialog__action-button {
  margin-left: 10px;
}
