<div class="edit-media-dialog-container">
  <h2>{{ data.name }}</h2>

  <div class="dialog__form-group">
    <label>Name:</label>
    <input class="dialog__property" [(ngModel)]="data.name"/>
  </div>

  <div class="dialog__form-group">
    <label>Medium:</label>
    <select class="dialog__property" [(ngModel)]="data.medium">
      <option class="dialog__select-option" value="other">Other</option>
      <option class="dialog__select-option" value="film">Film</option>
      <option class="dialog__select-option" value="audio">Audio</option>
      <option class="dialog__select-option" value="literature">Literature</option>
    </select>
  </div>

  <div class="dialog__form-group">
    <label>Consumed State:</label>
    <select class="dialog__property" [(ngModel)]="data.consumed_state">
      <option class="dialog__select-option" value="not started">Not Started</option>
      <option class="dialog__select-option" value="started">Started</option>
      <option class="dialog__select-option" value="finished">Finished</option>
    </select>
  </div>

  <div class="dialog__form-group">
    <label>Description:</label>
    <textarea class="dialog__property" [(ngModel)]="data.description"></textarea>
  </div>

  <div>
    <button mat-dialog-close>Cancel</button>
    <button [mat-dialog-close]="data">Save</button>
  </div>
</div>
