.edit-media-dialog-container {
  display: flex;
  flex-direction: column;
}

.dialog__form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dialog__property {
  margin-bottom: 10px;

  font-size: 15px;
}

.dialog__select-option {
}

