<div class="login-container">
  <h2>Login</h2>

  <div class="alerts">
    <div *ngIf="username.invalid && username.touched"
      class="alert"
    >
      <div *ngIf="username.errors.required">
        * username is required
      </div>
    </div>

    <div *ngIf="password.invalid && password.touched"
      class="alert"
    >
      <div *ngIf="password.errors.required">
        * password is required
      </div>
      <div *ngIf="password.errors.minlength">
        * password must be at least 4 characters
      </div>
    </div>

    <div *ngIf="incorrectPassword && password.pristine"
      class="alert"
    >
      * incorrect password
    </div>

    <div *ngIf="userDoesntExist && username.pristine"
      class="alert"
    >
      * user doesn't exist
    </div>
  </div>

  <form (ngSubmit)="login()"
    class="login-form"
    #loginForm="ngForm"
  >
    <div class="form-group">
      <label for="username" class="form-group__label">Username</label>
      <input type="text"
        class="form-group__input"
        [class.invalid]="userDoesntExist"
        id="username"
        placeholder="username"
        [(ngModel)]="user.username"
        name="username"
        required
        #username="ngModel"
      >
    </div>

    <div class="form-group">
      <label for="password" class="form-group__label">Password</label>
      <input type="password"
        class="form-group__input"
        [class.invalid]="incorrectPassword"
        id="password"
        placeholder="password"
        [(ngModel)]="user.password"
        name="password"
        required
        minlength="4"
        #password="ngModel"
      >
    </div>

    <button type="submit"
      class="submit"
      [disabled]="!loginForm.form.valid"
    >
      Submit
    </button>
  </form>
</div>
