@import "../../../sass/variables";

.media-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

  border: 1px solid $primary-color;

  cursor: pointer;

  background-color: $white;

  margin-bottom: 3px;

  min-height: 25px;
  min-width: 320px;
}

.media-element.preview {
  border: none;
}

.media-element__selectable {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.media-element__icon-container {
  min-width: 25px;
  background-color: $white;
}

.media-element__icon {
  background-color: $white;
  height: 25px;
  width: 25px;
}

.media-element__name {
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: $white;

  text-align: center;

  padding: 5px;

  width: 250px;
}

.media-element__delete {
  font-family: sans-serif;
  font-size: 13px;
  color: $primary-color;

  background-color: $white;

  border-top: none;
  border-right: none;
  border-bottom: none;

  width: 30px;

  transition-duration: 0.4s;
}

.media-element__delete:hover {
  background-color: $primary-color-light;
}
