<div class="view-media-container">
  <div class="view-media-filter-container">
    <div>
      <label class="view-media-filter-toggle-button" [class.selected]="showConsumed">
        <input type="radio" (click)="handleConsumedClick()"/>
        Consumed
      </label>
    </div>
    <div>
      <label class="view-media-filter-toggle-button" [class.selected]="showUnconsumed">
        <input type="radio" (click)="handleUnconsumedClick()"/>
        UnConsumed
      </label>
    </div>
  </div>

  <ul class="view-media-list">
    <li *ngFor="let mediaElement of mediaList$ | async">
      <div class="media-view-element"
        *ngIf="(showConsumed && mediaElement.consumed) || (showUnconsumed && !mediaElement.consumed)"
      >
        <span class="media-view-element-name">{{ mediaElement.name }}</span>
        <button class="media-view-element-delete" (click)="delete(mediaElement)">X</button>
      </div>
    </li>
  </ul>
</div>
