<app-add-media></app-add-media>
<div class="view-media-container">
  <div class="dndPlaceholder" #placeholder>
    <app-media-element></app-media-element>
  </div>
  <div class="view-media-unconsumed-container">
    <h3>Unconsumed Media</h3>
    <div class="view-media-list"
      [dndList]
      [dndPlaceholder]="placeholder"
      [dndModel]="unconsumedMediaList"
    >
      <div *ngFor="let mediaElement of unconsumedMediaList">
        <div *ngIf="!mediaElement.consumed"
          [dndType]="'mediaElement'"
          (dndMoved)="handleElementDrag(mediaElement, unconsumedMediaList)"
          [dndDraggable]
          [dndObject]="mediaElement"
        >
          <app-media-element [media]="mediaElement"></app-media-element>
        </div>
      </div>
    </div>
  </div>

  <div class="view-media-consumed-container">
    <h3>Consumed Media</h3>
    <div class="view-media-list"
      [dndList]
      [dndPlaceholder]="placeholder"
      [dndModel]="consumedMediaList"
    >
      <div *ngFor="let mediaElement of consumedMediaList">
        <div *ngIf="mediaElement.consumed"
          [dndType]="'mediaElement'"
          (dndMoved)="handleElementDrag(mediaElement, consumedMediaList)"
          [dndDraggable]
          [dndObject]="mediaElement"
        >
          <app-media-element [media]="mediaElement"></app-media-element>
        </div>
      </div>
    </div>
  </div>
</div>
