<!--
<div class="view-media-container">
  <div class="view-media-filter-container">
    <div>
      <label class="view-media-filter-toggle-button" [class.selected]="showConsumed">
        <input type="radio" (click)="handleConsumedClick()"/>
        Consumed
      </label>
    </div>
    <div>
      <label class="view-media-filter-toggle-button" [class.selected]="showUnconsumed">
        <input type="radio" (click)="handleUnconsumedClick()"/>
        UnConsumed
      </label>
    </div>
  </div>

  <ul class="view-media-list">
    <li *ngFor="let mediaElement of mediaList$ | async">
      <div *ngIf="(showConsumed && mediaElement.consumed) || (showUnconsumed && !mediaElement.consumed)">
        <app-media-element [media]="mediaElement"></app-media-element>
      </div>
    </li>
  </ul>
</div>
-->

<div class="view-media-container">
  <div class="view-media-unconsumed-container">
    <h3>Unconsumed Media</h3>
    <ul class="view-media-list">
      <li *ngFor="let mediaElement of mediaList$ | async">
        <div *ngIf="!mediaElement.consumed">
          <app-media-element [media]="mediaElement"></app-media-element>
        </div>
      </li>
    </ul>
  </div>

  <div class="view-media-consumed-container">
    <h3>Consumed Media</h3>
    <ul class="view-media-list">
      <li *ngFor="let mediaElement of mediaList$ | async">
        <div *ngIf="mediaElement.consumed">
          <app-media-element [media]="mediaElement"></app-media-element>
        </div>
      </li>
    </ul>
  </div>
</div>
