.site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-header {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  justify-content: flex-end;
}

.header-left-container {
  display: flex;
  flex-direction: row;
}

.signup-button .login-button {
  font-size: 18px;

  min-height: 22px;
}

.login-button {
  margin-left: 10px;
}

.logout-button {
  font-size: 18px;
  height: 30px;
}

.title {
}
