.site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-header {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  justify-content: flex-end;
}

.signup-button {
  font-size: 18px;
  height: 30px;
}

.title {
}
