<div class="site-container">
  <div class="site-header">
    <div *ngIf="!isLoggedIn()" class="header-left-container">
      <button class="signup-button" routerLink="/signup">
        Sign Up
      </button>
      <button class="login-button" routerLink="/login">
        Log In
      </button>
    </div>
    <div *ngIf="isLoggedIn()" class="header-left-container">
      <button class="logout-button" (click)="logout()" routerLink="/login">
        Log Out
      </button>
    </div>
  </div>
  <div class="title">
    <h1>{{ title }}</h1>
  </div>
  <router-outlet></router-outlet>
</div>
