.add-media-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-media-input {
  border: 1px solid #364048;

  background-color: #FFFFFF;

  font-size: 15px;

  margin-right: 10px;
  height: 20px;
  width: 200px;
}

.add-media-button {
}
