<div class="signup-container">
  <h2>Sign Up</h2>

  <div class="alerts">
    <div *ngIf="username.invalid && username.touched"
      class="alert"
    >
      <div *ngIf="username.errors.required">
        * username is required
      </div>
    </div>

    <div *ngIf="password.invalid && password.touched"
      class="alert"
    >
      <div *ngIf="password.errors.required">
        * password is required
      </div>
      <div *ngIf="password.errors.minlength">
        * password must be at least 4 characters
      </div>
    </div>

    <div *ngIf="passwordConfirm.invalid && passwordConfirm.touched"
      class="alert"
    >
      <div *ngIf="passwordConfirm.errors.required">
        * password confirmation is required
      </div>
      <!-- TODO add password confirm must match password, but only after submit -->
    </div>

    <div *ngIf="passwordsDontMatch && password.pristine && passwordConfirm.pristine" 
      class="alert"
    >
      * passwords don't match
    </div>

    <div *ngIf="usernameTaken && username.pristine"
      class="alert"
    >
      * username is taken
    </div>
  </div>

  <form (ngSubmit)="signup()"
    class="signup-form"
    #signupForm="ngForm"
  >
    <div class="form-group">
      <label for="username" class="form-group__label">Username</label>
      <input type="text"
        class="form-group__input"
        [class.invalid]="usernameTaken"
        id="username"
        placeholder="username"
        [(ngModel)]="user.username"
        name="username"
        required
        #username="ngModel"
      >
    </div>

    <div class="form-group">
      <label for="password" class="form-group__label">Password</label>
      <input type="password"
        class="form-group__input"
        [class.invalid]="passwordsDontMatch"
        id="password"
        placeholder="password"
        [(ngModel)]="user.password"
        name="password"
        required
        minlength="4"
        #password="ngModel"
      >
    </div>

    <div class="form-group">
      <label for="passwordConfirm" class="form-group__label">Confirm Password</label>
      <input type="password"
        class="form-group__input"
        [class.invalid]="passwordsDontMatch"
        id="passwordConfirm"
        placeholder="confirm password"
        [(ngModel)]="confirmedPassword"
        name="passwordConfirm"
        required
        minlength="4"
        #passwordConfirm="ngModel"
      >
    </div>

    <button type="submit"
      class="submit"
      [disabled]="!signupForm.form.valid"
    >
      Submit
    </button>
  </form>
</div>
